/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* VARIABLES */
:root {
    --primary-color: white;
    --secondary-color: #EBE597;
    --background-fallback: #2A2C2B;
    --font-family: 'Josefin Sans', sans-serif;
    --font-gen-size: 20px;
    --font-header-size: 60px;
    --font-go-size: 50px;
    --bolded: 700;
    --button-padding: 0.5rem 1.2rem 0.5rem 1.2rem;
}

/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--primary-color);
}

/* TOP LANE (Title + Nav) */
header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-gen-size);
    font-weight: var(--bolded);
    padding: 5rem;
}
.site-title {
    color: var(--primary-color);
}
.site-title::before { /* yellow circle */
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-right: 10px;
    vertical-align: middle;
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}
.nav a {
    color: var(--background-fallback);
}
.nav-item-donate {
    border: var(--background-fallback) solid 2px;
    border-radius: 71px;
    padding: var(--button-padding);
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.nav-item-donate:hover {
    background-color: var(--background-fallback);
    color: var(--primary-color);
}
.nav-item {
  position: relative;
}
.nav-item::before { /* arrow for focus/hover */ 
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("/Paw-It-Forward_Frontend/assets/img/active-ind.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-150%);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;

}
.nav-item:hover::before,
.nav-item:focus::before {
    content: "";
    opacity: 1;
}

.left-section {
    width: 48vw;
    background-color: var(--background-fallback);
    background-image: url(/Paw-It-Forward_Frontend/assets/img/background.png);
    padding: 300px 80px 5rem 80px;
    display: flex;
    flex-direction: column;
    gap: 300px;
}
.left-section .content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-start; /* Prevent content from stretching */
    margin-bottom: 5rem;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.content-header {
    font-weight: var(--bolded);
    font-size: var(--font-header-size);
    width: 70%;
}

.donate-btn {
    font-weight: var(--bolded);
    font-size: var(--font-gen-size);
    color: var(--background-fallback);
    border: var(--secondary-color) solid 2px;
    background-color: var(--secondary-color);
    border-radius: 71px;
    padding: var(--button-padding);
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
.donate-btn:hover {
    background-color: var(--primary-color);
    color: var(--background-fallback);
    border: var(--primary-color) solid 2px;
}
.scroll-link {
    text-decoration: underline;
    font-size: var(--font-go-size);
    font-weight: var(--bolded);
}